body {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    background-color: lightgray;
}

h2, p, a {
    text-align: center;
}

.readme_wrapper {
    text-align: center;
    text-decoration: none;
    color: red;
}

.div_img {
    position: relative;
height: 50px;
width: 50px;
border-radius: 50px;
left: 70px;
top: 50px;
background-color: firebrick;
}

a:hover {
    color: greenyellow;
    cursor: pointer;
    font-weight: bold;
  }

  .boxes {
      display: block;
      margin: 2em;
      padding: 2em;
      border: solid;
      border-color: rgb(230, 163, 196);
      border-radius: 10px;
      width: 30em;
      background-color: rgb(127, 127, 219);
  }

  .original {
      color: red;
  }

  .additional {
      color: green;
  }

  #show1 {
      color: rgb(53, 54, 119);
  }

  #show2 {
    color: rgb(99, 36, 136);
  }

  #show3 {
    color: purple;
  }

  #show4 {
    color: rgb(146, 46, 104);
  }

  #show5 {
    color: rgb(41, 119, 124);
   }

   h1 {
       color: red;
   }
   
   ul {
       color: blue;
   }

   .star {
       color: green;
   }

   #wars {
       color: rgb(175, 59, 78);
   }

   .ul_div {
       border-width: 2px;
       border-color: black;
       border-style: solid;
   }