
.top {
    border-bottom: 1px black solid;
}

.center {
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.middle {
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;
}

.fixFont {
    font-size: 80px;
}
#board {
    padding: 3em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}

#result {
    display: inline-block;
    width: 400px;
    height: 30px;
}

.rowCls {
    margin: 0 auto;
    width: 304px;
}
.rowCls div {
    float: left;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.cellCls div {
    vertical-align: middle;
    align-content: center;
}
#divButton {
    text-align: center;
}

body {
    background-image: url("background.jpeg");
}
